<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<form action="/take" method="post">
    <input type="text" name="number1" placeholder="enter number one">
    <input type="text" name="number2" placeholder="enter number two">
</form>
<form action="/add" method="post">
    <br>
    <input type="submit" value="+">
</form>
<hr>
<form action="/subtract" method="post">
    <br>
    <input type="submit" value="-">
</form>
<hr>
<form action="/multiply" method="post">
    <br>
    <input type="submit" value="x">
</form>
<hr>
<form action="/divide" method="post">
    <br>
    <input type="submit" value="÷">
</form>
</body>
</html>